* {
  box-sizing: border-box;
}

body {
  background-color: teal;
  margin: 0;
  padding: 0;
}

.board {
  margin: 20px;
  height: 602px;
  width: 602px;
  border: 1px solid black;
}

.square {
  height: 75px;
  width: 75px;
  float: left;
  text-align: center;
  font-size: 60px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}